<div class="lead-type-main">
  <div class="row">
    <div class="col-md-7">
      <div class="card my-2 card-shadow p-0">
        <div class="card-header font-weight-bold">{{ title }} Master</div>
        <div class="card-body">
           <div class="table-responsive"> 
            <table id="dataTable" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <!-- <th>Permissions</th> -->
                <th>Status</th>
                <th class="text-center" style="width: 100px;">Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let entry of data">
                <td>{{entry.name}}</td>
                <td>{{entry.code}}</td>
                <td>{{entry.description}}</td>
                <!-- <td>{{entry.permissions}}</td> -->
                <td>
                  <div *ngIf="activeUser.role.code !== entry.code" class="text-center">
                  <label class="switch" data-toggle="modal" (click)="activeEntry = entry"
                         data-target="#changeRoleStatus">
                    <input type="checkbox" [checked]="entry.isActive" disabled>
                    <span class="slider round"></span>
                  </label>
                  </div>
                </td>
                <td class="actions">
                  <span *ngIf="activeUser.role.code !== entry.code" class="align-items-center d-flex justify-content-around">
                  <span (click)="edit(entry)">Edit</span>
                  <i class="fa fa-trash text-danger" data-toggle="modal"
                     (click)="activeEntry = entry" data-target="#deleteModal"></i>
                  </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <form [formGroup]="formData" (ngSubmit)="submit()" class="card-body">
        <legend>{{editing === true ? 'Update' : 'Add'}} {{ title }}</legend>
        <div class="form-group" *ngFor="let key of fields">
          <ng-container *ngIf="!(['description', 'isActive', 'permissions'].includes(key))">
            <label for="">{{ key }} <span class="text-danger">*</span></label>
            <input onblur="this.value=jQuery.trim(this.value)" type="text" [formControlName]="key" class="form-control" *ngIf="key === 'code'" oninput="this.value = this.value.toLowerCase()"
            [placeholder]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }">
            <input onblur="this.value=jQuery.trim(this.value)" type="text" [formControlName]="key" class="form-control" *ngIf="key !== 'code'"
                   [placeholder]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }">
                   <!-- <span *ngIf="key === 'code'" class="text-secondary">Code must be unique</span> -->
            <div *ngIf="submitted && f[key].errors" class="invalid-feedback">
              <div *ngIf="f[key].errors.required">{{ key }} is required</div>
              <div *ngIf="f[key].errors.pattern">{{ key }} is invalid</div>
              <div *ngIf="key === 'code' && f.code.errors.uniqueCode">Code must be unique </div>
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea placeholder="Description" type="text" formControlName="description" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.pattern">Description is invalid</div>
          </div>
        </div>
        <div class="form-group">
            <label for="">Select Permissions</label>
          <select class="selectpicker form-control" multiple data-live-search="true"
                  id="permissions_select_picker" formControlName="permissions" >
            <option [value]="permission" *ngFor="let permission of permissionsList">{{permission}}</option>
          </select>

        </div>
        <div class="form-group">
          <label for="">Status</label>
          <div class="form-row">
            <div class="col">
              <label class="switch">
                <input type="checkbox" formControlName="isActive">
                <span class="slider round"></span>
              </label>
              <span class="pl-3" style="vertical-align: text-bottom;">
                                {{f.isActive.value === true ? 'Active' : 'Inactive'}}</span>
            </div>
          </div>
        </div>
        <button class="btn btn-success mr-2" type="submit">{{editing === true ? 'Update' : 'Save'}}</button>
        <button class="btn btn-secondary mr-2" type="button" (click)="reset()">Reset</button>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete {{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure want to delete <b> {{activeEntry === undefined ? '' : activeEntry.name}} </b> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal"
                  (click)="delete()">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="changeRoleStatus" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure want to change
        <b> {{activeEntry === undefined ? '' : activeEntry.name}}</b> status
        <b> {{activeEntry === undefined ? '' : activeEntry.isActive === true ? 'Active' : 'Inactive' }} </b> to
        <b> {{activeEntry === undefined ? '' : !activeEntry.isActive === true ? 'Active' : 'Inactive' }}</b> ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="changeRoleStatus('changeRoleStatus')">Change</button>
      </div>
    </div>
  </div>
</div>
