.city-state-country {
  padding: 0 5px;
}
.text-secondary {
  font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  
  // .table-container{
  //   width:800px;
  //  }
  
}

