<div class="client-type-main">
  <div class="row">
    <div class="col-md-7">
      <div class="card my-2 card-shadow p-0">
        <div class="card-header font-weight-bold">Client Type Master</div>
        <div class="card-body">
          <table id="addClientTypeDataTable" class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th class="text-center" style="width: 100px;" >Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Tiger Nixon</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid amet beatae culpa deleniti dicta dolore, dolores eligendi enim et fugiat hic labore nostrum perferendis, quis recusandae, repellat tempora veritatis? </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Garrett Winters
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eius et expedita fugit in laboriosam maiores minima natus necessitatibus non, nostrum nulla pariatur repellat temporibus voluptatibus! Consectetur delectus nesciunt ullam! </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Ashton Cox</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aperiam aut cumque, dolore doloremque dolores, eaque est facilis fuga magni nisi numquam perferendis provident, sapiente similique tenetur voluptatum. Dolorum! </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Cedric Kelly</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci alias doloribus earum esse eum fugit ipsam molestias neque obcaecati, porro quae quas quidem rerum sapiente tempora ut veritatis vero! </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Airi Satou</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, architecto asperiores deleniti deserunt dicta ducimus esse eveniet harum id ipsam, laborum molestias quisquam rerum sunt tempora. Atque est inventore reiciendis! </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Brielle Williamson</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam cum, deserunt doloremque ex exercitationem illo laboriosam laudantium, maxime nisi porro quasi quod sed? Earum expedita, voluptate? Deserunt, excepturi, nulla. </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Herrod Chandler</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores culpa dolore laboriosam neque. Amet aperiam aspernatur deserunt, ducimus esse fugit incidunt maiores nesciunt, quo quos sapiente sequi unde vitae? </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Rhona Davidson</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum dignissimos, doloribus, eius ex exercitationem fuga illum ipsa iure magni natus nisi odio omnis placeat repellat sapiente ullam? Architecto, placeat. </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Colleen Hurst</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias consequatur dignissimos magni nemo placeat quis suscipit. Ab animi beatae, deserunt ducimus explicabo id ipsum maxime officia, omnis quisquam, recusandae! </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Sonya Frost</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur debitis eos fugit id illo neque, nesciunt quod similique voluptates! Aliquam aspernatur inventore ipsa nam necessitatibus quos totam! A, ut. </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Jena Gaines</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur aut autem, beatae consectetur consequatur consequuntur eaque iste minus modi natus nisi nostrum obcaecati perspiciatis placeat, quia reprehenderit voluptas voluptates? </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
            <tr>
              <td>Quinn Flynn</td>
              <td><div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus facilis fugit ipsa quibusdam quis repellat rerum? Asperiores atque, cupiditate ex harum illo in ipsam quas, quibusdam quidem tempora tempore veniam?    </div> </td>
              <td class="align-items-center d-flex justify-content-around actions">
                <a href="javascript:void(0)">Edit</a>
                <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#deleteClientType"></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <form [formGroup]="addClientType" (ngSubmit)="onSubmit()" class="card-body">
        <legend>Add Client</legend>
        <div class="form-group">
          <label for="">Name<span class="text-danger">*</span></label>
          <input type="text" formControlName="clientTypeName" class="form-control"
                 placeholder="Name" [ngClass]="{ 'is-invalid': submitted && f.clientTypeName.errors }"/>
          <div *ngIf="submitted && f.clientTypeName.errors" class="invalid-feedback">
            <div *ngIf="f.clientTypeName.errors.required">Client Type Name Name is required</div>
            <div *ngIf="f.clientTypeName.errors.pattern">Client Type Name Name is invalid</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea placeholder="Description" type="text" formControlName="description"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
          <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.pattern">Description is invalid</div>
          </div>
        </div>
        <button class="btn btn-success mr-2">Save</button>
        <button class="btn btn-secondary mr-2" type="button" (click)="onReset()">Reset</button>
      </form>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="deleteClientType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Client</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
