<div class="container-fluid h-100">
  <div class="row">
    <app-header-main class="col-md-12 p-0" style="height: 55px" ></app-header-main>
  </div>
  <div class="row" style="height: 90%">
    <div class="sidebar-main-container d-none d-md-block">
      <app-sidebar-main></app-sidebar-main>
    </div>
    <div class="col h-100 content-container" id="mainRouterOutlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div *ngIf="isScrollButtonVisible" class="scroll-top-button"
     onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
  <i class="fa fa-pencil" aria-hidden="true"></i>
</div>
